mixin pagination(option)
  -
    const { title } = option;
    const pagination = [1, 2, 3, '...', 15]
    const active = 1

  .pagination
    .pagination__title= title
    .pagination__wrap
      ul.pagination__list
        each val, key in pagination
          li.pagination__item(class=`${val === active ? 'active' : ''}`)= val
      button.pagination__next
    p.pagination__text 1 – 12 из 100+ вариантов аренды
