@use '../../assets/styles/internals/index';

.pagination {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  &__title {
    margin-bottom: 1.6rem;

    @include header-3;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__wrap {
    display: flex;
    margin-bottom: 1rem;
  }

  &__item {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include fontz(1.2rem, 1, $dark-shade-50);

    transition: $anim;
    cursor: pointer;

    &.active {
      color: $white;
      font-weight: 700;

      background: linear-gradient(180deg, $purple 0%, $blue 100%);

      &:hover {
        background-color: unset;
      }
    }

    &:hover {
      background-color: $dark-shade-10;
    }

    &--middle {
      &:hover {
        background-color: unset;
      }
    }
  }

  &__next {
    position: relative;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    background: linear-gradient(180deg, $green 0%, $blue-0 100%);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 35%;
    }

    &:before {
      width: 1rem;
      height: 1rem;
      border-right: 0.2rem solid $white;
      border-bottom: 0.2rem solid $white;

      transform: translateY(-50%) rotate(-45deg);
      transition: $anim;
    }

    &:after {
      width: 1.6rem;
      height: 0.2rem;

      background-color: $white;

      transform: translateY(-50%);
      transition: $anim;
    }

    &:hover {
      &:before {
        transform: translate(9%, -50%) rotate(-45deg) scale(1.2);
      }

      &:after {
        transform: translateY(-50%) scale(1.2);
      }
    }
  }

  &__text {
    @include text;
  }
}
