@use '../../assets/styles/internals/index';

.content {
  &__container {
    max-width: 118.8rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__wrap {
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    justify-items: center;
    padding-bottom: 11.7rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(320px, 1fr));
    }

    @media (min-width: 980px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    @media (min-width: 1190px) {
      column-gap: 9.5rem;
      justify-items: unset;
    }
  }

  &__item {
    max-width: 32rem;
    width: 100%;

    &--bedroom {
      max-width: 26.6rem;
      margin-bottom: 2.1rem;
    }

    &--expand {
      max-width: 26.6rem;
      margin-bottom: 2rem;

      @media (min-width: 980px) {
        margin-bottom: 6rem;
      }
    }

    &--rich {
      max-width: 26rem;
      padding-top: 1.6rem;
      margin-bottom: 3rem;

      @media (min-width: 768px) {
        margin-bottom: unset;
      }
    }

    &--comment {
      max-width: unset;
      padding: 1.9rem 0 0 3rem;

      @media (min-width: 980px) {
        max-width: 71.1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-column: 2 / 4;
      }
    }
  }
}

.item-content {
  &__date {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    margin-bottom: 1.7rem;
  }

  &__rating {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
  }

  &--middle {
    margin-bottom: 4rem;

    @media (min-width: 768px) {
      padding-left: 2.9rem;
      margin-bottom: unset;
    }
  }

  &__checkbox-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 24rem;
    margin-bottom: 3.4rem;
  }

  &__toggle-bar {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 4.6rem;
  }

  &--right {
    padding-left: 0.4rem;
    margin-bottom: 3rem;

    @media (min-width: 980px) {
      margin-bottom: unset;
    }
  }

  &__btn-bar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &--left {
    margin-bottom: 2rem;

    @media (min-width: 980px) {
      margin-bottom: 8rem;
    }
  }
}

.like-btn {
  margin-top: 4rem;

  &__wrap {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.bar-btn {
  &__wrap {
    display: flex;
    align-items: flex-end;
    gap: 2rem;

    &--default {
      display: block;
    }
  }
}

.date-picker__wrap {
  display: none;
  width: 32rem;
}
