extends ../../layouts/ui-kit
include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/radio/radio

block title
  | form

block content
  .container
    .top
      .inputs
        +input({ type: 'email', placeholder: 'Email', cls: 'default', label: 'Text field', desc: 'Default' })
        +input({ type: 'email', placeholder: 'Email', cls: 'active', label: 'Text field', desc: 'Hover/Focus', val: 'This is pretty awesome' })
        +dropdown({ title: 'Dropdown', content: 'Сколько гостей' })
        +input({ type: 'email', placeholder: 'дд.мм.гггг', cls: 'masked', label: 'Masked Text field' })
        .input-default--date
            +dropdown({ title: 'Date Dropdown', content: 'дд.мм.гггг', cls: 'date' })
            +dropdown({ title: 'Date Dropdown', content: '19.08.2019', cls: 'date' })
        +dropdown({ title: 'Filtred Date Dropdown', content: '19 авг - 23 авг', cls: 'filtred-date' })
        +input({ type: 'email', placeholder: 'Eamil', cls: 'subscr', label: 'Subscription Text field', modify: 'substr' })
      .checkboxs
        +checkbox({ title: 'Checkbox buttons', content: 'Можно курить', cls:'smoke' })
        +checkbox({ content: 'Можно с питомцами', cls:'pet', status: true })
        +checkbox({ content: 'Можно пригласить гостей (до 10 человек)', cls:'guests', status: true })
        +radio({ title: 'Radio buttons', content: { men: 'Мужчина', women: 'Женчина' } })
    .middle
    .bottom
