@use '../../assets/styles/internals/index';

.registration {
  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex: 1 1 auto;
  }
}

.content-registration {
  &__wrap {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;

    background-image: url('../../img/bg-sign-in.jpg');
    background-position: 0 -7rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 119rem;
    min-height: 68.4rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

.register-card {
  &--content-registration {
    margin-left: 0.6rem;
  }
}
