@use '../../assets/styles/internals/index';

.date-picker {
  max-width: 32rem;
  width: 100%;
  padding: 1rem 2rem 1.2rem;
  margin: 0 auto 4rem;

  box-shadow: 0 0 2.5rem $black-20;
  background-color: $white;

  &__wrap.second {
    position: relative;
    right: 113%;
  }

  &__field {
    display: none;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
  }

  &__prev,
  &__next {
    position: relative;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 53%;
    }

    &:before {
      width: 1rem;
      height: 1rem;
      border-right: 0.2rem solid $purple;
      border-bottom: 0.2rem solid $purple;
    }

    &:after {
      width: 1.6rem;
      height: 0.2rem;

      background-color: $purple;

      transform: translateY(-50%);
    }

    &:hover {
      background-color: $dark-shade-10;
    }

    &:disabled {
      &:after {
        background-color: $grey-aea;
      }

      &:before {
        border-color: $grey-aea;
      }

      &:hover {
        background-color: unset;
      }
    }
  }

  &__prev {
    &:before {
      transform: translateY(-50%) rotate(130deg);
      left: 18%;
    }

    &:after {
      left: 18%;
    }
  }

  &__next {
    &:before {
      transform: translateY(-50%) rotate(-45deg);
      right: 18%;
    }

    &:after {
      right: 18%;
    }
  }

  &__body {
    margin-bottom: 0.5rem;
  }

  &__date {
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    min-width: 11rem;
    gap: 0.3rem;
  }
}

.date-month,
.date-year {
  font-size: 1.9rem;
  line-height: 1.21;
  color: $dark-shade-100;
  font-weight: 700;
  appearance: none;
}

.line-week {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    font-size: 1.2rem;
    line-height: 1;
    color: $purple;
    font-weight: 700;
  }
}

.block-days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 4rem;
    height: 4rem;

    & span {
      border-radius: 50%;
    }

    &--today span {
      color: $white;

      background: linear-gradient(180deg, $green 0%, $blue-0 100%);
    }

    &--from,
    &--to {
      background: linear-gradient(180deg, $grey-bc9, $grey-8ba);

      & span {
        color: $white;

        background: linear-gradient(180deg, $purple 0%, $blue 100%);
      }
    }

    &--from {
      border-radius: 50% 0 0 50%;
    }

    &--to {
      border-radius: 0 50% 50% 0;
    }

    &.disabled {
      & .block-days__text {
        color: $dark-shade-40;

        &:hover {
          background-color: unset;
          cursor: default;
        }
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    font-size: 1.4rem;
    line-height: 1;
    color: $grey-aea;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $dark-shade-10;
    }
  }
}

.controls-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.8rem;
  padding-top: 0.9rem;

  &__btn {
    font-size: 1.2rem;
    line-height: 1.25;
    color: $purple;
    text-transform: uppercase;
    font-weight: 700;

    background-color: transparent;
    cursor: pointer;

    &:disabled {
      color: $purple-50;

      cursor: default;
    }
  }
}

.focus-date-picker,
.range-date-picker {
  background: linear-gradient(180deg, $grey-bc9, $grey-8ba);
}

.focus-date-picker {
  border-radius: 0 50% 50% 0;
}
