$dark-shade-100: #1F2041;
$dark-shade-75: #1F204175;
$dark-shade-50: #1F204150;
$dark-shade-25: #1F204125;
$dark-shade-5: #1F204105;

$white: #FFFFFF;

$purple: #BC9CFF;
$purple-50: #BC9CFF50;
$green: #6FCF97;
$blue: #8BA4F9;
$blue-50: #8BA4F950;
$blue-0: #66d2ea;

$anim: all 0.2s linear;
