$dark-shade-100: #1f2041;
$dark-shade-75: #1f204175;
$dark-shade-50: #1f204150;
$dark-shade-25: #1f204125;
$dark-shade-10: #1f204110;
$dark-shade-5: #1f204105;

$white: #ffffff;
$black: #000000;
$black-20: #00000020;
$grey: #e5e5e5;

$purple: #bc9cff;
$purple-50: #bc9cff50;
$green: #6fcf97;
$blue: #8ba4f9;
$blue-50: #8ba4f950;
$blue-0: #66d2ea;

$anim: all 0.2s linear;
