include ../dropdown/dropdown
include ../button/button

mixin book-card
  .book-card
    .book-card__wrap
      p.book-card__title
        span.book-card__title--small №
        |
        span.book-card__title--thick 888
        |
        span.book-card__title--color люкс
      p.book-card__subtitle
        span.book-card__subtitle--thick 9 990₽
        |
        | в сутки
    .book-card__wrap.book-card__wrap--arrive
      +dropdown({ title: 'Прибытие', content: '19.08.2019', cls: 'date' })
      +dropdown({ title: 'Выезд', content: '23.08.2019', cls: 'date' })
    +dropdown({ title: 'Гости', content: '3 гостя', cls: 'guest', type: 'guest', modify: 'book-card__dropdown' })
    .book-card__desc.desc-book-card
      .desc-book-card__wrap
        p.desc-book-card__item 9 990₽ х 4 суток
        p.desc-book-card__item 39 960₽
      .desc-book-card__wrap
        p.desc-book-card__item.desc-book-card__item--info Сбор за услуги: скидка 2&nbsp;179₽
        p.desc-book-card__item 0₽
      .desc-book-card__wrap
        p.desc-book-card__item.desc-book-card__item--info Сбор за дополнительные услуги
        p.desc-book-card__item 300₽
    .book-card__total.total-book-card
      .total-book-card__item Итого
      .total-book-card__item 38 081₽
    +button({ content: 'Забронировать', type: 'pay', cls: 'search-card'})
