@use '../../assets/styles/internals/index';

.search-card {
  padding: 4rem 3rem 3rem;
  max-width: 38rem;
  min-width: 320px;
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 4rem;

  box-shadow: 0 0 2.5rem $black-20;

  &__wrap {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    margin-bottom: 2.1rem;

    & > .dropdown {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin-bottom: 0.2rem;

    @include header-1;
  }

  &__dropdown {
    margin-bottom: 3.2rem;
  }
}
