mixin bullet-list(option = {})
  -
    const { title = '' } = option
    const list = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']

  .bullet-list
    p.bullet-list__title= title
    ul.bullet-list__wrap
      each val, key in list
        li.bullet-list__item
          p= val
