mixin toggle(option)
  - const { title = '', content = '', status = false, modify = '' } = option

  .toggle(class=`${ modify ? ` ${modify}` : '' }`)
    if title !== ''
      p.toggle__title= title
    label.toggle__label(class='switch')
      span.toggle__text= content
      input.toggle__field(type='checkbox' checked = status)
      span.toggle__control.circle
