@use '../../assets/styles/internals/index';

.options {
  position: relative;

  max-width: 27.4rem;
  width: 100%;
  padding: 0.9rem 1.7rem 1.6rem 6rem;
  border-bottom: 0.1rem solid $dark-shade-5;
  margin-bottom: 1.5rem;

  &:before {
    content: '';
    position: absolute;
    top: 41%;
    left: 0.4rem;

    width: 4.8rem;
    height: 4.8rem;

    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  &--comfort:before {
    background-image: url('../../img/comfort.svg');
  }

  &--cose:before {
    background-image: url('../../img/cose.svg');
  }

  &--consiness:before {
    background-image: url('../../img/consiness.svg');
  }

  &__content,
  &__title {
    @include text;
    color: $dark-shade-75;
  }
  &__content {
    color: $dark-shade-75;
  }

  &__title {
    color: $dark-shade-100;
    font-weight: 700;
  }
}
