@use '../../assets/styles/internals/index';

.room-card {
  max-width: 27rem;
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 3.9rem;

  box-shadow: 0 0 2.5rem $black-20;
  background-color: $white;

  &__desc {
    display: block;
    padding: 2.3rem 2rem 1.8rem;
  }

  &__img {
    position: relative;

    padding-top: 15.2rem;
  }

  &__title {
    display: flex;
    align-items: flex-end;

    @include fontz(1.2rem, 1.2, $dark-shade-100);
    text-transform: uppercase;
    font-weight: 700;

    &--small {
      margin-right: 0.7rem;

      text-transform: uppercase;
    }

    &--thick {
      @include fontz(1.9rem, 1, $dark-shade-100);
      letter-spacing: 0.03rem;
    }

    &--color {
      color: $purple;
    }
  }

  &__subtitle {
    @include fontz(1.2rem, 1, $dark-shade-50);

    &--thick {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  &__rating > .rating {
    margin-top: unset;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid $dark-shade-10;
  }
}

.rating-room-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    @include fontz(1.4rem, 1, $dark-shade-50);
    font-weight: 700;

    &--thin {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

@media (min-width: 575.99px) {
  .slider {
    position: relative;

    min-height: 30rem;
    border-width: 0.3rem;

    color: $white;

    overflow: hidden;

    @media (min-width: 1023.99px) {
      min-height: 40rem;
    }

    &__wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    &__slides {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    &__item {
      position: relative;
      margin: 0 auto;
      display: none;
      justify-content: center;
      align-items: center;
      min-height: 30rem;

      animation: 1.4s linear;

      @media (min-width: 1023.99px) {
        height: 40rem;
      }

      &--first {
        background-color: purple;
      }

      &--second {
        background-color: blue;
      }
    }

    &__btn {
      position: absolute;
      top: 49%;
      transform: translateY(-50%);

      width: 1.6rem;
      height: 2.7rem;
      border: none;

      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      background-color: transparent;

      cursor: pointer;
      transition: $anim;

      &:hover {
        background: grey;
      }

      & > span {
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);

          width: 1.5rem;
          height: 1.5rem;
          border: 0.2rem solid $white;
          border-top: none;
          border-right: none;
        }

        &:before {
          left: 2.2rem;
        }

        &:after {
          left: 3rem;
        }
      }

      &--next {
        transform: translateY(-50%) rotate(180deg);

        right: 0.6rem;
      }

      &--prev {
        left: 0.6rem;
      }
    }

    &__slide {
      width: 100%;
      height: 30rem;
      background-repeat: no-repeat;
      background-position: 50%;

      @media (min-width: 1023.99px) {
        height: 40rem;
      }
    }
  }

  .active,
  .next {
    display: flex;
  }

  .next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .to-left {
    animation-name: left;
  }

  .from-right {
    animation-name: right;
  }

  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
}
