extends ../../layouts/ui-kit
include ../../components/search-card/search-card
include ../../components/register-card/register-card
include ../../components/book-card/book-card
include ../../components/sign-in-card/sign-in-card
include ../../components/room-card/room-card
include ../../components/date-picker-card/date-picker-card

block title
  | cards

block content
  .cards
    .cards__container
      .cards__left
        +search-card
        +register-card
      .cards__middle
        +book-card
        +sign-in-card
      .cards__right
        +date-picker-card({ id: `date-7`, pickerType: 'default', modify: 'show' })
        +room-card({ type: 'Люкс', numb: '888', count: '145', price: '9 990' })
        +room-card({ numb: '840', count: '65', price: '9 900', rate: 3 })
