doctype html
html(lang="ru")
  include ../components/head/head
  body(class=`body body--${title}`)
    header.ui-kit-header.header-ui-kit.header-ui-kit--header-footer
      div.header-ui-kit__logo
        img.header-ui-kit__img(src="./assets/img/logo.svg" alt="logo")
    block content
